node_modules
dist
.temp
cache
.idea
.vscode
docs/.vitepress/dist/
docs/.vitepress/cache/
npm-debug.log*
.DS_Store
.idea/
.vscode/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
